ul {
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  background-color: #2ECC71;
}

li {
  float: left;
}

li a {
  display: block;
  color: #17202A;
  font-weight: bold;
  text-align: center;
  padding: 10px 16px;
  margin-top: 50px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #A93226;
}

.carousel-inner{
  display: block;
  height: 550px;
  margin-top: 5px;
}

.bodycontent{
  padding-left: 50px;
  padding-right: 50px;
}


.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 100%;
    margin-right: 5px;
    float: left;
    margin-top: 3px;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 50px;
  text-align: center;
  font-family: arial;
  flex: 20%;
  padding: 30px;
  float: left;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
